
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> // 회원등록(가입) 폼을 만드는 웹페이지임.
// 아까 controller 사용해서 본 웹사이트와 연결시켜주었기 때문에, form 을 채운 key 와 value 값이 서버측으로 넘어감.
<body>
<div class="container">
    <form action="/members/new" method="post">
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" id="name" name="name" placeholder="이름을
입력하세요">
        </div>
        <button type="submit">등록</button>
    </form>
</div> <!-- /container -->
</body>
</html>